body {
    margin: 0px;
}
.mainbackground {
    background-color: #f2f3f5;
    width: 100vw;
    /*height: ; */
    
    /*position:; */
}
.whatapp-icon {
    color: #32a852;
    padding-right: 4px;
    font-size: 25px;
    margin: 12px;
    margin-left: 15px;
    
}
.whatsapptitle {
    font-size: 16px;
    font-weight: bold; 
}
.navbars3 {
    position: absolute;
    right: 20px;
    top: 15px;
}
.spaces {
    margin-left: 25px;
}

.icon-footer {
    position: absolute;
    right: 1px;
    bottom: 20px;
}

.bar:hover {
    background-color: white;
    height: 20px;
    width: 40px;
    text-align: center;
    margin: 5px 4px;
    padding-top: 5px;
}

.bars {
   margin-left: 15px;
   position: absolute;
   top: 80px;
   
}
.bars:hover {
    background-color: white;
    height: 20px;
    width: 40px;
    text-align: center;
    margin: 5px 4px;
    padding-top: 5px;
}
.bars1 {
    margin-top: 1px;
}
.bars2 {
    color: lightslategrey;

}
.bar3 {
    color: blue;
}

.chat-background {
    position: absolute;
    right: 0px;
    background-color: lightblue;
    height: 100vh;
    left: 50px;
    border-top-left-radius: 12px;
}
.chat-list {
    background-color: white;
    margin: 0px;
    width: 30%;
    padding: 20px;
    /*position:; */
}
.chat-heading {
    font-size: 20px;
    margin-left: 8px;
}

.iconfilter {
    position: absolute;
    top: 20px;
    right: 1060px;
}
.searchbar {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 30px;
    width: 100%;
    border-color: green;
    border-bottom-width: 4px;
}



.chatcontainer {
    background-color: white;
    height: 80px;
    margin-top: 20px;
    display: flex;
}
.iconsize {
    position: relative;
    font-size: 30px;
    top: 25px;
    border-radius: 100px;
    left: 0px;
    background-color: #f2f3f5;
    padding: 20px;
}
.sides {
    margin-left: 80px;
    font-size: 12px;
}
.image {
height: 100%;
width: 100%;
margin-left: 2px;
}
.ifram {
    display: flex;
    
}
